<!DOCTYPE html>
<head>
    <title>Cool</title>
</head>
<body>

   <% if(dayNum == 6 || dayNum == 7) { %>
     <h2>This is Weekend</h2>
   <% console.log(dayNum);} else { %>
   <h2>This is  WeekDay</h2>
   <%}%>    
    It is a Wonderful Day!
</body>



</html>