<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- in the app it was identified that assets such as css is in "public" folder 
        that is why you can route it to "css/style.css" -->
    <link rel="stylesheet" href="css/style.css">
    <title>EJS</title>
</html>
<body>
    <h1>It's a <%= kindOfDay %> !</h1>
</body>