html
  head
    title Flash Cards
    script(src='./app.js')
  body
    header
      h1 Flash Cards
    section#content
      h2 Welcome, student!
    button(onclick='checker') user
    footer
      p An app to help you study